.blog-publication__title {
  text-align: center; }
  .blog-publication__title a {
    color: #018577; }
  .blog-publication__title--main {
    color: #018577;
    font-size: 28px;
    margin-top: 25px;
    margin-bottom: 0; }
  .blog-publication__title--post {
    font-size: 36px; }

.blog-publication__content {
  font-size: 18px;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  word-spacing: 1px;
  line-height: 150%; }
  .blog-publication__content--link {
    color: #018577;
    text-decoration: underline; }

.blog-publication__banner {
  width: 100vw; }

.blog-publication__links {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  margin-top: 15px;
  margin-bottom: 35px; }
  .blog-publication__links > .inter-link span {
    line-height: 100%;
    margin-left: 15px;
    text-decoration: underline;
    color: #666666; }
    .blog-publication__links > .inter-link span:hover {
      color: red; }

.link-green {
  color: #018577;
  text-decoration: underline; }
  .link-green:hover {
    color: #d34546; }

.btn--black {
  background-color: #000000;
  border: none;
  color: #ffffff;
  display: -ms-inline-flexbox;
  display: inline-flex;
  min-height: 38px;
  padding-left: 15px;
  padding-right: 15px;
  font-weight: 400; }

.publication__sub-title {
  font-size: 26px;
  font-weight: 900;
  display: block;
  margin-bottom: 25px;
  margin-top: 25px; }

.one-com__info {
  font-family: proximanowa-light;
  font-size: 13px; }
  .one-com__info--admin {
    font-size: 18px;
    font-weight: 600; }

.one-com__text {
  margin-bottom: 20px; }

.publication-comments {
  z-index: 800; }
  .publication-comments__one-com {
    font-size: 15px;
    padding-top: 35px;
    padding-bottom: 35px;
    border-bottom: 1px solid #e3e8e4; }
  .publication-comments__admin-com {
    background-color: #eff4f0;
    padding: 25px 25px 35px 25px; }
  .publication-comments__form {
    background-color: #eff4f0;
    padding: 20px 25px 40px 25px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-align: start;
        align-items: flex-start;
    font-family: proximanowa-bold;
    font-size: 15px; }
    .publication-comments__form > .form__title {
      font-size: 22px;
      margin-bottom: 15 px; }
    .publication-comments__form .form__input {
      width: 250px;
      height: 35px;
      margin-top: 5px;
      margin-bottom: 10px;
      padding-left: 15px; }
      .publication-comments__form .form__input--t-area {
        width: 100%;
        min-height: 150px; }
    .publication-comments__form .form__label {
      position: relative; }
      .publication-comments__form .form__label > .form__label--why {
        min-width: 100px;
        font-family: proximanowa-light;
        position: absolute;
        left: 260px;
        top: 35px; }
    .publication-comments__form > .form__btn {
      font-weight: 400;
      width: 250px;
      min-width: 250px;
      padding: 0 20px;
      display: -ms-inline-flexbox;
      display: inline-flex;
      -ms-flex-align: center;
          align-items: center;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.recomend-posts {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between; }
  .recomend-posts__link {
    max-width: 380px;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-direction: column;
        flex-direction: column;
    font-size: 18px;
    text-decoration: underline; }
  .recomend-posts__banner {
    width: 100%;
    height: auto; }

.folow-links {
  display: -ms-flexbox;
  display: flex;
  margin-top: 15px;
  margin-left: -10px;
  margin-bottom: 15px; }
  .folow-links > .icon {
    font-size: 30px;
    margin-top: 5px; }
  .folow-links__title {
    font-size: 26px; }
  .folow-links--container {
    background-color: #f7f6ea;
    font-family: proximanowa-regular; }
  .folow-links-wrap {
    height: 200px;
    max-width: 1560px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-pack: center;
        justify-content: center;
    margin-top: 45px;
    margin-bottom: 45px;
    margin-left: auto;
    margin-right: auto; }

.form--folow {
  display: -ms-flexbox;
  display: flex; }
  .form--folow .form__input {
    height: 37px;
    padding-left: 15px; }
  .form--folow .btn--green {
    background-color: #018577;
    color: #ffffff;
    max-height: 37px;
    font-size: 18px;
    padding-left: 15px;
    padding-right: 15px;
    font-family: proximanowa-regular;
    font-weight: 600;
    cursor: pointer; }

.blog-p-wrap {
  width: 100%; }

/*# sourceMappingURL=styles.css.map */
