//blog-publication

.blog-publication{
	&__title{
		text-align: center;
		& a{
			color: #018577;
		}
		&--main{
			color: #018577;
			font-size: 28px;
			margin-top: 25px;
			margin-bottom: 0;
			//border-bottom: 1px solid #018577;
		}
		&--post{
			font-size: 36px;
		}
	}
	&__content{
		
		font-size: 18px;
		width: 800px;
		margin-left: auto;
		margin-right: auto;
		word-spacing: 1px;
		line-height: 150%;
		&--link{
			color: #018577;
			text-decoration: underline;
		}
	}
	&__banner{
		width: 100vw;
	}
	&__links{
		display: flex;
		justify-content: center;
		margin-top: 15px;
		margin-bottom: 35px;
		&>.inter-link span{
			line-height: 100%;
			margin-left: 15px;
			text-decoration: underline;
			color: #666666;
			&:hover{
				color: red;
			}
		}
	}
}
.link-green{
	color: #018577;
	text-decoration: underline;
	&:hover{
		color: #d34546;
	}
}
.btn--black{
	background-color: #000000;
	border: none;
	color: #ffffff;
	display: inline-flex;
	min-height: 38px;
	padding-left: 15px;
	padding-right: 15px;
	font-weight: 400;

}
.publication__sub-title{
	font-size: 26px;
	font-weight: 900;
	display: block;
	margin-bottom: 25px;
	margin-top: 25px;
}
.one-com__info{
	font-family: proximanowa-light;
	font-size: 13px;
	&--admin{
		font-size: 18px;
		
		font-weight: 600;	
	}
}
.one-com__text{
	margin-bottom: 20px;

}
.publication-comments{
	z-index: 800;
	&__one-com{
		font-size: 15px;
		padding-top: 35px;
		padding-bottom: 35px;
		border-bottom: 1px solid #e3e8e4;
	}
	&__admin-com{
		background-color: #eff4f0;
		padding: 25px 25px 35px 25px;
	}
	&__form{
		background-color: #eff4f0;
		padding: 20px 25px 40px 25px;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		font-family: proximanowa-bold;
		font-size: 15px;
		&>.form__title{
			font-size: 22px;
			margin-bottom: 15 px;
		}
		& .form__input{
			width: 250px;
			height: 35px;
			margin-top: 5px;
			margin-bottom: 10px;
			padding-left: 15px;
			&--t-area{
				width: 100%;
				min-height: 150px;
			}
		}
		& .form__label{
			position: relative;
			&>.form__label--why{
				min-width: 100px;
				font-family: proximanowa-light;
				position: absolute;
				left: 260px;
				top: 35px;
			}
		}
		&>.form__btn{
			font-weight: 400;
			width: 250px;
			min-width: 250px;
			padding: 0 20px;
			display: inline-flex;
			align-items: center;
			justify-content: space-between;
		}
	}
}
.recomend-posts{
	display: flex;
	justify-content: space-between;
	&__link{
		max-width: 380px;
		display: inline-flex;
		flex-direction: column;
		font-size: 18px;
		text-decoration: underline;
	}
	&__banner{
		width: 100%;
		height: auto;
	}
}
.folow-links{
	display: flex;
	margin-top: 15px;
	margin-left: -10px;
	margin-bottom: 15px;
	&>.icon{
		font-size: 30px;
		margin-top: 5px;
	}
	&__title{
		font-size: 26px;
	}
	&--container{
		background-color: #f7f6ea;
		font-family: proximanowa-regular;
	}
	&-wrap{
		height: 200px;
		max-width: 1560px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin-top: 45px;
		margin-bottom: 45px;
		margin-left: auto;
		margin-right: auto;
	}
}
.form--folow{
	display: flex;
	& .form__input{
		height: 37px;
		padding-left: 15px;
	}
	& .btn--green{
		background-color: #018577;
		color: #ffffff;
		max-height: 37px;
		font-size: 18px;
		padding-left: 15px;
		padding-right: 15px;
		font-family: proximanowa-regular;
		font-weight: 600;
		cursor: pointer;
	}
}
.blog-p-wrap{
	width: 100%;
}
